<% provide(:title, @user.nome) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.nome %>
        <%= @user.cognome %>
        <%= @user.eta %>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
    <div class="span8">
    <% if @user.invoices.any? %>
      <h3>Fatture (<%= @user.invoices.count %>)</h3>
      <ol class="invoices">
        <%= render @invoices %>
      </ol>
      <%= will_paginate @invoices %>
    <% end %>
  </div>
</div>