<% provide(:title, @user.nome) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.nome %>
        <%= @user.cognome %>
        <%= @user.eta %>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>